:host{
    width: 100%;
}
button[type="submit"]{
    width: 100%;
    margin-top: 8px;
}

a[role='button']{
    cursor: pointer;
}

.body-l {
    padding: 2rem 0;
}

.font-login {
    font-size: 1.2rem;
}